ul,li{  list-style: none; }
header{
    color: #2f2f2f;
    padding-left: 61px;
    font-size: 14px;
}
header>a{
    color: #2f2f2f;
    text-decoration: none;
    font-size: 14px;
}
header>a:hover{
    color: #C81623;
}
#nav{
    width: 1210px;
    height: 54px;
    background: #393838;
    margin: auto 61px;
}
#nav>ul>li{
    vertical-align: middle;
}
#nav>ul>li>a{
    display: block;
    padding: 0 70px;
    height:54px;
    line-height:54px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: #ccc;
    float: left;
}
#nav>ul>li>a:hover{
    color: #fff;
}
#page_footer{
    margin: auto;
    width: 1211px;
    font-family: Arial;
    background:#393838;
    color:#ccc;
    clear: both;
    display:block;
    text-align: center;
}
#page_footer>nav>ul>li>a{
    font-family: Arial;
    color:#ccc;
}
#page_footer>nav>ul{
    list-style:none;
    margin: 0;
    padding: 0;
}
#page_footer>nav>ul>li{
    line-height: 20px;
    margin: 0 20px 0 0;
    padding:0;
    display:inline;
}