.lyc-container, .lyc-out {
    position: relative;
    overflow: hidden;
}

.lyc-container {
    width: 1210px;
    margin: 20px auto ;
}

.lyc-out {
    margin: 0 auto;
}

.lyc-out, .lyc-inner img {
    width: 1210px;
    height: 450px;
}

.lyc-inner {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 1210px;
    height: 450px;
    overflow: hidden;
}

.lyc-inner li, .lyc-imgs_indexs li {
    float: left;
    list-style: none;
}

.lyc-inner img {
    float: left;
}

.lyc-imgs_indexs {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.lyc-imgs_indexs li {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    background-color: #c8c8c8;
    border-radius: 100%;
    cursor: pointer;
}

.lyc-imgs_indexs li:hover {
    background-color: #343434;
}

.lyc-left, .lyc-right {
    position: absolute;
    top: 180px;
    width: 25px;
    height: 24px;
    vertical-align: middle;
    cursor: pointer;
    z-index: 10;
}

.lyc-left {
    left:20px;
    background: url(../images/left.png) no-repeat;
}

.lyc-right {
    right: 20px;
    background: url(../images/right.png) no-repeat;
}